<div class="container">
  <div class="channel-chat">
    <div class="channel-details">
      <h3>Channel Name</h3>
      <p class="channel-name">Main</p>

      <h4>Users</h4>
      <ul>
        <li>Yash</li>
        <li>Super</li>
        <li>Ekansh</li>
      </ul>
    </div>
    <div class="chat-box">
      <div class="options">
        <button>Video Chat 📹</button>
        <button class="leave">Leave Channel</button>
      </div>
    </div>
  </div>
  <div class="chat-input">
    <input />
    <button>Send</button>
  </div>
</div>
